.DS_Store
/vendor
/node_modules
.env
.env.ex
.env.backup
.env1
.svn
/nbproject/private/
/nbproject/
.idea
.sublime-project
.sublime-workspace
/public/data/tmp
public/data/files/
public/data/reports/
public/data/grades/
public/data/assessment_pdf/
composer.phar
composer.lock
public/data/grades-pdf/
public/plugins/tinymce/plugins/tiny_mce_wiris/
