.switch_on {
  width: 95px;
  height: 48px;
  background-position: 0px -451px;
  display: block;
  position: absolute;
  top: 45px;
  left: 30px; }

.switch_off {
  width: 95px;
  height: 48px;
  background-position: -95px -451px;
  display: block;
  position: absolute;
  top: 45px;
  left: 30px; }

.icons {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat; }

  .create_inpt, .create_area {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px #c8c8c8 inset;
    color: #403f3c;
    line-height: 24px !important;
    margin: 0 auto;
    outline: medium none;
    padding: 10px;
    position: relative;
    width: 93%;
    max-width: 100%;
}

.exp_links {
  float: right;
  font-family: 'droid_sansbold';
  font-size: 14px;
  color: #6d6f75; }

.exp_links i.down {
  width: 20px;
  height: 14px;
  background-position: 0px -435px;
  display: block;
  float: left; }

.exp_links i.up {
  width: 20px;
  height: 14px;
  background-position: -20px -435px;
  display: block;
  float: left; }

.exp_links i.del {
  width: 18px;
  height: 26px;
  background-position: -40px -128px;
  display: block;
  float: left; }

  .fltR {
    float: right !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.fltR {
    float: right !important;
}
.ssi-tip {
  position: absolute;
  z-index: 3; }

.tip-container {
  background-color: #fff;
  /* box-shadow: 0px 0px 3px 2px #bebebe; */
  -moz-box-shadow: 0px 0px 3px 2px #bebebe;
  -webkit-box-shadow: 0px 0px 3px 2px #bebebe;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#bebebe, Strength=4, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#bebebe, Strength=4, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#bebebe, Strength=4, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#bebebe, Strength=4, Direction=270);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  padding: 0px 0px;
  z-index: 0;
  width: auto;
  min-width: 228px;
  right: -15em;
  top: -38px;
  border: 1px solid #ccc; }

.ie8 .tip-container {
  border: solid 1px #bebebe; }
/*
.ie8 .ssi-tip-arrow {
  top: -9px; }*/

.tip-msg-outer .tip-message {
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #3b3b3b;
  font-family: 'droid_sansregular';
  padding-bottom: 10px; }

.tip-msg-outer {
  min-width: 201px; }

.tip-btns ul.tip-btn-list {
  text-align: left !important;
  margin:15px!important; }

.tip-btns ul.tip-btn-list li {
  display: inline-block;
  margin: 0px 5px; }

.tip-btns ul.tip-btn-list li.btn-delete a {
  font-size: 12px;
  line-height: normal;
  color: #fff;
  font-family: 'droid_sansregular';
  background: #ff1919;
  height: 25px;
  line-height: 25px;
  padding: 0px 10px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.tip-btns ul.tip-btn-list li.btn-cancel a {
  font-size: 12px;
  line-height: normal;
  color: #fff;
  font-family: 'droid_sansregular';
  background: #777777;
  height: 25px;
  line-height: 25px;
  padding: 0px 20px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

section .list_active_msg div.rply_icons {
  display: block; }

.Lht30 {
  line-height: 30px !important; }
.mt15 {
  margin-top: 15px !important; }

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.ico-grade {
    background-position: -123px -3px;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.icons {
    cursor: pointer;
}

.reply_box {
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #eeeeee;
  width: 115px;
  height: 100px;
  top: -110px;
  left: -51px;
  z-index: 9999;
  box-shadow: 1px 1px 0px #dddddd;
  border-radius: 5px;
  display: none;
}
.reply_box::after, .arrow_box::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}


.assignment_text1 {
    width: 404px;
    max-width: 450px;
    max-height: 100px;
}
.control-label1 {
    text-align: right;
}
.numeric{
max-width: 120%;
}
.control-label2{
text-align: left !important;
}

.gobtn{
  margin-left: -20px;
}
/*.btnexp{
  margin-left: 25em;
  margin-top: 13em;
  margin-bottom: -34px;
}
.btnexx{
  margin-left: 32em;
}*/
.textname {
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}


